/* .fundo{
    background-image: url(/img/ifam.jpg);
} */

div#dashmain { 
    /* background: #F8F8FF; */
    margin-left:270px; 
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url(img/ifam.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* object-fit: cover;
    object-position: center; */
    
    /* width: 100%; 
    height: 100%; */
}