<!-- <p>home works!</p> -->
  <app-menubar></app-menubar>

  <div class="inicio">
    <h1>INSTITUTO FEDERAL DO AMAZONAS</h1>
    <h2>Campos Manaus Zona Leste</h2><br>
    <div style="width: 800px; object-fit: cover; object-position: center; height: 300px;" class="imagem">
      <div class="card">
      <h5>
        Módulo Administrativo
      </h5>
      <p>
        <b>Exclusivo para Administradores do Sistema</b><br>
    
        Total acesso aos usuários do sistema e<br>
        gerenciamento dos dados.
        
      </p>
      </div>
      <!-- <img id="imagemFrente" src="../../assets/ifam.jpg"> -->
      <!-- <img id="imagemFrente2" src="../../assets/ifam2.jpg"> -->
    </div>
  </div>
  <img id="imagemFrente" src="../../assets/ifam3.jpeg">

<!-- <div class="card">
  <h5>
    Módulo Administrativo
  </h5>
  <p>
    <b>Exclusivo para Administradores do Sistema</b><br>

    Total acesso aos usuários do sistema e<br>
    gerenciamento dos dados.
    
  </p>
</div> -->
