/* You can add global styles to this file, and also import other style files */
body#dashmain{

    background: #F8F8FF;
    margin-left:270px;
    height: 100%;
    width: 100%;
    position: fixed;

}
