div#dashmain { 
    background: #F8F8FF;
    margin-left:270px; 
    height: 100%;
    width: 100%;
    position: fixed;
}

button {
    /* margin: 0 auto; */
    /* margin-left: 80px;
     
    /* position: center; */

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;

    /* position: absolute; */
    width: 240px;
    height: 66px;
    left: 12px;
    /* right: 5px; */
    top: 139px;

    background-color: #083E14;


    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    border-radius: 10px;
/* identical to box height */


color: #FFFFFF;

}

button:hover{
    color: #FFFFFF;
    border-color: #330404;
}

button:active {
    /* color: var(--drk-blue); */
    border-color: #330404;
  }

button:focus{
    outline: none;
    background: linear-gradient(90deg, #330404 38.41%, #a00000 80.75%);
    box-shadow: 1px 10px 50px rgba(238, 120, 108, 0.25);
    border-radius: 10px;
}

div#dashside {
    /* position:fixed; 
    width:200px; 
    height:100%; 
    background-color: aqua; */

    position: fixed;
    width: 270px;
    height: 100%;
    left: 0px;
    top: 0px;

    background: #083E14;
}