<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div id="dashside">
  <br><img class="btn" type="button" routerLink="" src="../assets/ifam_logo.png"><br>
  <button class="btn" routerLink="/home"><i class="bi bi-house"></i>Inicio</button><br>
  <button class="btn" routerLink="/cadastrar/user"><i class="bi bi-pencil-square"></i>Cadastrar</button><br>
  <button class="btn" routerLink="/listar/user"><i class="bi bi-person"></i>Listar</button><br>
  <button class="btn" routerLink="/atualizar/user"><i class="bi bi-arrow-clockwise"></i>Atualizar</button><br>
  <button class="btn" routerLink="/deletar/user"><i class="bi bi-trash"></i>Deletar</button><br>

  <br><br><br><br><br><br><br><br>
  <div class="foot">
    <h6 style="margin-left: 65px;"><i class="bi bi-gear"> &nbsp;&nbsp;&nbsp;&nbsp;Settings</i></h6><br>
    <h6 style="margin-left: 65px;"><i class="bi bi-info-circle"> &nbsp;&nbsp;&nbsp;&nbsp;info</i></h6>
  </div>
</div>


