<div id="dashside">
    <img routerLink="" src="../assets/ifam_logo.png"><br>
    <button routerLink="/cadastrar/user" class="btn">Cadastrar</button><br>
    <button routerLink="/listar/user" class="btn">Listar</button><br>
    <button routerLink="/atualizar/user" class="btn">Atualizar</button><br>
    <button routerLink="/deletar/user" class="btn">Deletar</button><br>
</div>
<!-- <div id="dashmain">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">Content</div>
        </div>
    </div>
</div> -->
