<app-menubar></app-menubar>

  <div class="container-fluid">
    <h3>CADASTRO</h3>
    <div class="card">
      <img id="iconUser" src="../../../../assets/icone-homem.png" width="70px" height="70px">
      <label id="nomeAdm"><Strong>Rodrigo Carvalho</Strong></label>
      <label id="adm">Administrador</label>
    </div>
    <form class="formulario">
        <br><div>
          <label for="userName" class="form-label">NOME</label>
          <input type="text" class="form-control" id="userName" placeholder="Nome Completo" required>
        </div>
        <br><div >
          <label for="userLogin" class="form-label">LOGIN</label>
          <input type="text" class="form-control" id="userLogin" placeholder="Login" required>
        </div>
        <br><div >
          <label for="userPassowrd" class="form-label">SENHA</label>
          <input type="password" class="form-control" id="userPassowrd" placeholder="Senha" required>
        </div>
        <br><div >
          <label for="userPassowrd" class="form-label">SENHA</label>
          <input type="password" class="form-control" id="userPassowrd" placeholder="Repita a Senha" required>
        </div>
        <br><div >
          <label for="userEmail" class="form-label">E-MAIL</label>
          <input type="email" class="form-control" id="userEmail" placeholder="E-mail" required>
        </div>
      <button type="button" onclick=ConfirmaC() class="btn btn-outline-success">CADASTRAR</button>
    </form>

  </div>

